# Build results
bin/
obj/
out/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# NuGet packages
*.nupkg
*.snupkg
packages/
.nuget/

# Logs
*.log

# Dotnet tools
dotnet-tools.json

# Environment files
.env
.env.*

# Publish output
publish/
